<h1 align="center">Tarea 2 Especializacion en estadistica aplicada</h1>


- Nombre: Mateo Orozco Baldovino
- Especialidad en Estadistica Aplicada UTB

## Caracteristicas del entorno de desarrollo:
- Para el presente trabajo yo agarre el dataset desde este link (https://archive.ics.uci.edu/dataset/320/student+performance).
- Estoy realizando el analisis de este dataset usando python en visual studio code y jupyter notebook.
- Para las librerias utilizo un entorno virtual creado con venv.

In [30]:
# Añadiendo librerías necesarias para trabajar con datos y visualización

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Importo la clase y funciones para importar los datos desde archivos CSV

from BaseDatos import Importacion
imp = Importacion()
df1 = imp.importacion()
df2 = imp.importacion2()

Punto 1: Descargue y cargue los datos en su notebook, usando Pandas preferiblemente. Imprima para tener una idea de los datos.

In [ ]:
df1  = pd.read_csv(r"student-mat.csv",
                        sep=";",
                        header=None,
                        engine="python")

df1.head()

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
0,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
1,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
2,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
3,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
4,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15

In [ ]:
df2  = pd.read_csv(r"student-por.csv",
                        sep=";",
                        header=None,
                        engine="python")
df2.head()

Punto 2: Calcule la cantidad de datos faltantes y luego si no tiene cree artificialmente datos faltantes.

Punto 3: Use las metodologías vistas en clase para rellenar, o poner, datos en los lugares de los datos
faltantes.

Punto 4: Haga gráficos para evaluar la calidad de este llenado y las formas de las distribuciones.

Punto 5: Escriba conclusiones acerca del proceso, ¿Qué metodología de imputación le sirvió mejor?

Punto 6: Determine si tiene datos outliers o datos extremos y diga cuales son y elimínelos. La
información para esta tarea está en el primer notebook.

Punto 7: Adicionalmente use los algoritmos que encontrará en el segundo notebook (linear_regresion) para inferir regresiones, determine parámetros, determine el grado de regresión o coeficiente de regresión (bondad de ajuste) y escriba conclusiones.

Punto 8: Conclusiones