<h1 align="center">Tarea 2 Especializacion en estadistica aplicada</h1>


- Nombre: Mateo Orozco Baldovino
- Especialidad en Estadistica Aplicada UTB

### Caracteristicas del entorno de desarrollo:
- Para el presente trabajo yo agarre el dataset desde este link (https://archive.ics.uci.edu/dataset/320/student+performance).
- Estoy realizando el analisis de este dataset usando python en visual studio code y jupyter notebook.
- Para las librerias utilizo un entorno virtual creado con conda.

Esta tarea puede ser encontrada en este repositorio
[Github](https://github.com/TheMaorba/DataMining.git)

## Añadiendo librerías necesarias para trabajar con datos y visualización

In [ ]:

import respuestas as rp
import pandas as pd
import numpy as np

## Punto 1: Descargue y cargue los datos en su notebook, usando Pandas preferiblemente. Imprima para tener una idea de los datos.

In [2]:
df0 = pd.read_csv(r"D:\Documentos\Especialidad\DataMining\Tarea2\Dataset\bank.csv", sep=";")
print(df0.head(5))

   age           job  marital  education default  balance housing loan  \
0   58    management  married   tertiary      no     2143     yes   no
1   44    technician   single  secondary      no       29     yes   no
2   33  entrepreneur  married  secondary      no        2     yes  yes
3   47   blue-collar  married    unknown      no     1506     yes   no
4   33       unknown   single    unknown      no        1      no   no

   contact  day month  duration  campaign  pdays  previous poutcome   y
0  unknown    5   may       261         1     -1         0  unknown  no
1  unknown    5   may       151         1     -1         0  unknown  no
2  unknown    5   may        76         1     -1         0  unknown  no
3  unknown    5   may        92         1     -1         0  unknown  no
4  unknown    5   may       198         1     -1         0  unknown  no

In [3]:
print(f"Se imprime las caracteristicas de las columnas para ver las variables numericas {df0.info()}")
print(len(df0))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB
Se imprime las caracteristicas de las columnas para ver las variables numericas None
45211

## Punto 2: Calcule la cantidad de datos faltantes y luego si no tiene cree artificialmente datos faltantes.

In [4]:
print(f"La cantidad de datos faltantes es de: {df0.isna().sum().sum()}")

La cantidad de datos faltantes es de: 0

Teniendo en cuenta que inicialmente la base de datos tomada para el ejemplo no tiene datos faltantes procedere a crear datos faltantes en dos columnas.
### Creando datos faltantes ya que actualmente no tiene y contar cuantos hay

In [ ]:
from faltantes import GestorFaltantes
df_conna = GestorFaltantes.insertar_nans(df0)
GestorFaltantes.mostrar_nans(df_conna)

Dataset: 45211 filas × 17 columnas = 768587 valores totales
NaNs totales: 153714 (20.0%)

NaNs por columna:
============================================================
age: 9042 NaNs (20.0%)
job: 9042 NaNs (20.0%)
marital: 9042 NaNs (20.0%)
education: 9042 NaNs (20.0%)
default: 9042 NaNs (20.0%)
balance: 9042 NaNs (20.0%)
housing: 9042 NaNs (20.0%)
loan: 9042 NaNs (20.0%)
contact: 9042 NaNs (20.0%)
day: 9042 NaNs (20.0%)
month: 9042 NaNs (20.0%)
duration: 9042 NaNs (20.0%)
campaign: 9042 NaNs (20.0%)
pdays: 9042 NaNs (20.0%)
previous: 9042 NaNs (20.0%)
poutcome: 9042 NaNs (20.0%)
y: 9042 NaNs (20.0%)

### Creando dataframe para realizar el manejo de faltantes

In [6]:
df1 = df_conna.copy()
df2 = df_conna.copy()
df3 = df_conna.copy()
df4 = df_conna.copy()
df5 = df_conna.copy()
df6 = df_conna.copy()

## Punto 3: Use las metodologías vistas en clase para rellenar, o poner, datos en los lugares de los datos faltantes.

### Manejar datos faltantes mediante la eliminacion

In [7]:
df_sin_na = df_conna.dropna(axis=0)
print(f"La cantidad de datos faltantes en la base de datos es de {df_sin_na.isna().sum().sum()}")

La cantidad de datos faltantes en la base de datos es de 0

### Manejar datos faltantes imputando datos con un valor fijo o aleatorio

In [ ]:
GestorFaltantes.impute_nan_random(df1,"age",1)
print(df1.isna().sum().sum())
# import importlib
# importlib.reload(faltantes)

153714

## Manejar datos faltantes mediante imputacion por la media o mediana

In [ ]:
GestorFaltantes.impute_nan_meanmedian(df, variable, value)

## Punto 4: Haga gráficos para evaluar la calidad de este llenado y las formas de las distribuciones.
### Evaluando el manejo de faltantes mediante eliminacion

In [ ]:
from graficos import Graficos
Graficos.crear_histograma_columna(df_sin_na, df2, 'age')
Graficos.crear_histograma_columna(df_sin_na, df2, 'studytime.x')

### Evaluando metodo de imputacion por mediana

In [ ]:
Graficos.crear_histograma_columna(df_sin_na, df2, 'age')
Graficos.crear_histograma_columna(df_sin_na, df2, 'studytime.x')

Punto 5: Escriba conclusiones acerca del proceso, ¿Qué metodología de imputación le sirvió mejor?

Punto 6: Determine si tiene datos outliers o datos extremos y diga cuales son y elimínelos. La
información para esta tarea está en el primer notebook.

Punto 7: Adicionalmente use los algoritmos que encontrará en el segundo notebook (linear_regresion) para inferir regresiones, determine parámetros, determine el grado de regresión o coeficiente de regresión (bondad de ajuste) y escriba conclusiones.

Punto 8: Conclusiones